<section id="paketi">
    <div class="container">
        <div class="row"> 
            <div class="col-lg-12 text-center">
                <h1>{{ page.header.title }}<h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 text-center">
                <h4 class="service-heading">Paket Peglanje</h4>
                {% for item in page.header.paket_peglanje %}
                    <p class="text">{{ item }}</p>
                {% endfor %}
            </div>
            <div class="col-lg-6 text-center">
                <h4 class="service-heading">Paketi Pranje + Peglanje</h4>
                {% for item in page.header.paket_pranje_peglanje %}
                    <p class="text">{{ item }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

